#landing {
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url("../img/index/prueba.jpg");
}

#landing {
	h1 {
		color: #D32F2F;
	}

	h3 {
		color: white;
	}
}

#ultimas-leyes {
	display: hidden;
}

#representantes {
	display: hidden;
}

.color-destacador {
	color: #D32F2F;
}

/* Laws Show */

.fixed-panel {
  min-height: 275px;
  max-height: 10px;
  overflow-y: scroll;
}
